<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>teacher_about</title>
    <link rel="stylesheet" type="text/css" href="tec_bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="frame2.css"/>
</head>
<body>

    <div class="container">
        <div class="frame1_title">
            <h2 class="text-center">产品核心价值</h2>
            <br>
            <h6 class="text-center">THE CORE VALUE OF THE PRODUCT</h6>
            <br>
            <p class="text-left">物联网囗袋实验室提供完善的基于物联网体系的自学、开发、实践和创新环境，并提供不同的案傍场景蛤用户。
            使其参与物联网技术体系中感、传、知、用各个层次的不同过程，为用户深刻连解物联网体系架构提供重要帮助。
            同时，系统为用户开放各个层次的应用接囗和解析过程，使得用户能够逐步了解数据的采集、通信、传输、应用以及控制的详细过程。
            </p>

        </div>
        <br><br>
        <br><br>
        <div class="frame2_img">
            <img src="./tec_img/about1.png" alt="hand">
        </div>
        <br><br>
        <br><br>
        <div class="frame2_title">
            <h3 class="text-center">产品特点</h3>
            <p class="text-center">PRODUCT FEATURES</p>

        </div>
        <!--大图-->
        <div class="frame2_img">
            <img src="img/frame2.png" />
        </div>

        <div class="frame2_text clearfix">
            <div class="col-xs-3">
                <h3>1.实验指导书</h3>
                <p>针对物联网工程专业课程实验内容的特点，设计了物联网综合实验台。
                    实验台采用模块化设计，包含传感器原理实验区、基础技术实验区、
                    无线自组网实验区、嵌入式网关实验区、RFID技术实验区、执行控
                    制技术实验区等；硬件环境支持的实验内容覆盖物联网感知层和网络
                    层的主要知识体系。</p>
            </div>
            <div class="col-xs-3">
                <h3>2.物联网综合实验台</h3>
                <p>
                    在深入理解教执委在物联网专业的规划和多个本专科高校对物联网专
                    业培养方案的基础上，针对物联网工程专业课程群设计一套有针对性
                    的实验指导书，例如：物联网通信技术、RFID原理及应用、传感器
                    原理及应用、传感网原理及应用、物联网控制、物联网工程设计与实
                    施和嵌入式系统设计等课程都已撰写完毕。

                </p>
            </div>
            <div class="col-xs-6">
                <h3>3.物联网教学综合实验平台软件系统</h3>
                <p>
                    物联网教学综合实验平台软件系统，为用户提供在线式实验指导书、实验
                    步骤引导、实验报告在线提交和实验报告导出等功能；同时可从数据链路
                    层获取并展示通信过程中的数据，方便用户对系统进行调试。
                    <h5><span><</span>A<span>></span>自定义指导书</h5>
                    支持对各门课程实验指导书的自定义、维护及管理工作，方便各教学单位收集整理符合
                    自身教学特色的实验指导书，辅助高校规范实验教学管理过程。
                    <h5><span><</span>B<span>></span>自定义服务端数据处理</h5>
                    为了让学生深切体会服务器端数据处理的过程，实验平台软件系
                    统提供了数据处理程序自定义功能，学生可以自己编写服务器端
                    数据处理程序，体会服务器对数据和控制指令的处理过程。
                </p>
            </div>
        </div>
        <br><br>
        <br><br>
        <div class="frame2_img">
            <img src="./tec_img/about3.png" alt="features">
        </div>

    </div>

</body>
</html>