<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>teacher_index</title>
    <link rel="stylesheet" type="text/css" href="tec_bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="frame2.css"/>
</head>
<body>
    <div class="container">

        <div class="frame1_title">
            <h2 class="text-center"><span style="color:#00BFBF">欢迎使用宸宇扬物联网教学综合实验平台</span></h2>
            <br><br>
            <h4 class="text-center">WELCOME TO USEN CHEN YU YANG IOT TEACHING COMPREHENSIVE EXPERIMENTAL PLATFORMT</h4>
            <br><br>
            <p class="text-center">物联网综合教学实验平台包括“物联网综合试验台（硬件）”和“物联网教学综合实验平台软件系统（软件）”两部分，
                两个部分协同工作，可以引导、辅助学生完成物联网相关课程的硬件实验，并可在线提交实验报告。
            </p>
        </div>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <div class="frame3_title">
            <br><br>
            <h3 class="text-center">宸宇扬物联网教学综合实验平台</h3>
            <br>
            <p class="col-xs-12">
                涵盖物联网工程专业主干课程知识点，并可自定义应用实例的综合实验操作台。综合实验台采用模块化设计，
                包含嵌入式开发试验区、基础技术试验区、RFID技术实验套件区（选配）、各类传感器组网实验区、控制执行试验区等；
                硬件环境支持的实验内容覆盖物联网感知层和网络层的主要知识点。
            </p>
            <br><br><br><br>
            <p class="col-xs-12">
                实验平台软件需配合综合试验台使用，为用户提供实验指导、实验步骤引导、实验报告在线提交和导出实验报告等功能；
                可以从数据链路层获取并展示通信过程数据，方便用户对硬件的开发和调试。
            </p>

        </div>
        <div class="frame2_img">
            <img src="tec_img/index.png" />
        </div>
        <br><br><br>
        <div class="frame1_title">
            <h2 class="text-center"><span style="color:#00BFBF">产品特点</span></h2>
            <br><br>
            <p class="text-left">物联网教育综合实验平台是在对多个院校物联网工程装也进行充分调研和分析的基础上，由多名具有丰富教学经验的相关专业
                一线教师参与论证和设计的。相比较于传统分离实验箱的硬件教学模式，本综合实验系统有如下特点：
            </p>
        </div>
        <br><br><br>
        <div class="frame2_img">
            <img src="tec_img/index2.png" />
        </div>
        <br><br><br>
        <div class="frame1_title">
            <h2 class="text-center"><span style="color:#00BFBF">物联网在许多行业和领域已经得到广泛应用，比如</span></h2>
            <br><br>
            <div class="text-center">
                <button type="button">智能物流</button>
                <button type="button">智能交通</button>
                <button type="button">智慧园区</button>
                <button type="button">智慧农业</button>
                <button type="button">环境检测</button>
            </div>
        </div>

    </div>

</body>
</html>