<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>background</title>
		<link rel="stylesheet" type="text/css" href="background.css"/>
	</head>
	<body>
		<!--about us-->
		<dev class="bg1-wrap">
			<div class="bg0">
				<div class="bg0_h">
					ABOUT US <span style="color:#00BFBF">关于我们</span>
				</div>
				<br>
				<div class="bg0_p">
					宸宇扬科技有限公司是一家集研发、生产、销售为一体，致力于物联网、移动互联网与云计算产品
					与解决方案的高新技术企业；依托众多一流理工科院校建立起一支高素质的技术和产品研发团队，
					研发人员占公司员工比例50%以上，其中研究生以上学历的工程师比例在50%以上。
				</div>
				<br>
				<div class="bg0_p">
					宸宇扬科技有限公司是一家信奉合作共赢、协同发展的公司，公司一方面积极引进国外一流产品和技术，
					为国内教育和科研领域提供全球范围内的高端解决方案；同时和国内最具实力的科研单位共同开发优质
					的产品。
				</div>
			</div>
		</dev>

		<!--background1-->
		<div class="bg1-wrap">
			<div class="bg1">
				<div class="bg1_left">
					工程PROJECT
				</div>
				<div class="bg1_right">
					物联网数据管理平台可以接入真实场景、实验室环境以及口袋实验室环境下各种网关汇聚的数据，
					将真实场景和模拟场景采集的信息融合为一体。学生通过接触物联网数据管理平台中的协同开发和
					场景管理理念，逐步对物联网整体架构中的平台服务和应用系统有所了解，通过不断体验将深刻认
					识物联网架构的全貌。
				</div>
			</div>
		    
		</div>
		
		<!--background2-->
		<div class="bg1-wrap">
			<div class="bg1 bg2">
				<div class="bg1_left">
					实践PRACTICE
				</div>
				<div class="bg1_right">
					物联网教学综合实验平台是根据《高等学校物联网工程专业实践教学体系与规范（试行）》的要求，
					同时对多个院校物联网工程专业进行充分调研和分析的基础上进行设计的，系统设计贴合物联网工程专业
					的建设方案，支撑高校本、专科物联网工程专业的核心课程和基础教学实验，涵盖了物联网工程专业
					主干课程与硬件相关的实验。该系统将有效辅助教师对各实验课程的规划、设计和实施。
				</div>
			</div>
		    
		</div>


		<!--background3 背景待定-->
		<div class="bg1-wrap">
			<div class="bg1 bg3">
				<div class="bg1_left">
					创新INNOVATE
				</div>
				<div class="bg1_right">
					物联网口袋实验室提供完善的基于物联网体系的自学、开发、实践和创新环境，并提供不同的案例场景给用户，
					使其参与物联网技术体系中感、传、知、用各个层次的不同过程，为用户深刻理解物联网体系架构提供重要帮助。
					同时，系统为用户开放各个层次的应用接口和解析过程，使得用户能逐步了解数据的采集、通信、传输、应用
					以及控制的详细过程。
				</div>
			</div>

		</div>


	</body>
</html>
