<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>frame2</title>
		<link rel="stylesheet" type="text/css" href="tec_bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="frame2.css"/>
	</head>
	<body>
		<div class="container">
			<div class="frame2_title">
				<h3 class="text-center">产品特点</h3>
				<p class="text-center">PRODUCT FEATURES</p>
				
				
			</div>
			<!--大图-->
			<div class="frame2_img">
				<img src="img/about1.png" />
			</div>
			
			<div class="frame2_text clearfix">
				<div class="col-xs-2">
					<h3>1.便携式开发套件</h3>
					<p>物联网口袋实验室为学生
						提供了一套便携式开发套
						件，包括开发环境、开发
						板、传感器、控制单元以
						及各种连接线，方便学生
						在课余时间，在离开实验
						室环境的情况下，依然可
						以使用专业的开发套件继
						续进行物联网知识的学习
						。在专业教师的指导下，
						学生可以通过自学的方式
						不断探索物联网技术的原
						理与应用。
					</p>
				</div>
				<div class="col-xs-2">
					<h3>2.面向物联网感知层开发</h3>
					<p>
						物联网口袋实验室针对低
						年级学生提供面向感知层
						的开发技术资源，方便学
						生通过编程逐步熟悉各种
						传感器、控制单元在不同
						场景下的应用。
					</p>
				</div>
				<div class="col-xs-2">
					<h3>3.面向物联网传输层开发</h3>
					<p>物联网口袋实验室针对高
						年级学生提供面向传输层
						的开发技术资源，方便学
						生通过编程逐步熟悉各种
						场景下不同传输技术的应
						用。学生可以通过配套的
						软网关系统逐步熟悉常用
						的通信接口、通信协议、
						传输过程，同时可以将软
						网关收到的数据上传到物
						联网数据管理平台，从而
						让学生真切的感悟物联网
						的采集、传输、应用、展示。
					</p>
				</div>
				<div class="col-xs-2">
					<h3>4.配套案例</h3>
					<p>物联网口袋实验室为各个
						阶段的学生提供了配套案
						例资源支持，学生可以通
						过案例逐步在真实场景中
						体会物联网技术在实践中
						的需求挖掘、方案设计、
						系统设计、模块设计以及
						软硬件联调的过程。
						</p>
				</div>
				<div class="col-xs-2">
					<h3>5.开放式API接入</h3>
					<p>物联网口袋实验室提供开
					放式API接入服务。高年
					级学生可以通过参考开发
					文档和样例程序，自己实
					现一套上层应用系统，实
					现对物联网不同层面的体
					验。</p>
				</div>
			</div>
		</div>
	</body>
</html>
