<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>data_about</title>
    <link rel="stylesheet" type="text/css" href="tec_bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="frame2.css"/>
</head>
<body>
<div class="container">
    <div class="frame1_title">
            <h2 class="text-center">产品核心价值</h2>
            <br><br>
            <p class="text-left">物联网数据管理平台可以接入真实场景，实验室环境以及口袋实验室环境下
				各种网关汇聚的数据，将真实场景和模拟场景采集的信息融合为一体。学生通过
				接触物联网数据管理平台中的协同开发和场景管理理念，逐步对物联网整体架构
				中的平台服务和应用系统有所了解，通过不断体验将深刻认识物联网架构的全貌。
            </p>
        </div>
        <br><br>
    <div class="frame2_img">
        <img src="img/frame5.png" />
    </div>

    <div class="frame1_title">
            <h2 class="text-center">产品特点</h2>
    </div>
    <div class="frame2_title">
        <br><br>
        <h3 class="text-left"><span style="color: #0a001f">A.统一数据接入与控制</span></h3>
        <br>
        <p class="col-xs-12">
            通过数据管理平台将现有的物联网网关数据采集到平台中，实现物联网采集设备的统一数据接入和物联网控制设备的集中管理.
        </p>

    </div>

    <div class="frame2_img">
        <img src="img/frame6.png" />
    </div>

    <div class="frame2_title">
        <br><br>
        <h3 class="text-left"><span style="color: #0a001f">B.现有物联网设备接入</span></h3>
        <br>
        <p class="col-xs-12">
            现有物联网设备在不符合物联网网关通信协议的情况下，学校可以按照开放API文档的要求自行构建协议转换和接入程序，
                将原有物联网设备作为第三方系统通过软网关接入服务实现物联网采集设备的统一数据接入。
        </p>

    </div>

    <div class="frame2_img">
        <img src="img/frame7.png" />
    </div>

    <div class="frame2_title frame3_title">
        <br><br>
        <h3 class="text-left"><span style="color: #0a001f">C.团队场景协作</span></h3>
        <br>
        <p class="col-xs-12">
            学生可以自己创建新的场景，通过场景内的邀请功能，邀请同学一起参与一个实际的物联网工作场景，从而切身体会
            多节点数据采集、传输、处理、展现、控制的全过程。实现从个人自主开发到团队协同开发的过渡。
        </p>
        <br><br><br><br>
        <p class="col-xs-12">
            在获取学校分配的部分部分真实物联网设备数据读取和指令控制权限后，学生可以将该设备增加到自己建立的物联网场景中，
                体验真实环境下物联网设备的操作过程。
        </p>

    </div>

    <div class="frame2_img">
        <img src="img/frame8.png" />
    </div>

    <div class="frame2_title">
        <br><br>
        <h3 class="text-left"><span style="color: #0a001f">D.物联网实验室数据收集与展示</span></h3>
        <br>
        <p class="col-xs-12">
            室中每个实验台的数据由物联网数据管理平台统一收集并处理后，学生和教师可以直观的看到物联网数据的处理和展示过程。
        </p>

    </div>

    <div class="frame2_img">
        <img src="img/frame9.png" />
    </div>
</div>
</body>
</html>